apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "guestbook.fullname" . }}-ui
  labels:
    app: guestbook
    component: ui
    {{- include "guestbook.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: guestbook
      component: ui
  template:
    metadata:
      labels:
        app: guestbook
        component: ui
        {{- include "guestbook.selectorLabels" . | nindent 8 }}
    spec:
      containers:
      - name: guestbook-ui
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        ports:
        - name: http
          containerPort: {{ .Values.service.targetPort }}
          protocol: TCP
        env:
        - name: PORT
          value: "{{ .Values.service.targetPort }}"
        - name: REDIS_MASTER_SERVICE_HOST
          value: {{ include "guestbook.fullname" . }}-redis
        - name: REDIS_MASTER_SERVICE_PORT
          value: "{{ .Values.redis.master.service.port }}"
        resources:
          {{- toYaml .Values.resources | nindent 10 }}
        livenessProbe:
          httpGet:
            path: /
            port: http
          initialDelaySeconds: 30
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /
            port: http
          initialDelaySeconds: 5
          periodSeconds: 5
